name: CI for pull requests

on:
  push:
    branches:
      - main
      - release-*
  pull_request: {}
  workflow_dispatch: {}

env:
  GO_VERSION: '1.24.2'

jobs:
  check-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.1
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Check spelling with custom config file
        uses: crate-ci/typos@v1.40.0
        with:
          config: ./.github/typos.toml
      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          args: --base . --verbose --no-progress './**/*.md'
          fail: false
      - name: Verify Mod
        run: make verify-mod
      - name: Verify Manifests
        run: make verify-manifests
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.1
        with:
          submodules: true
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Lint golang code
        run: make lint

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest]
        arch: [amd64, arm64]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.1
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Run Tests
        run: |
          make test
      - name: Build keda-kaito-scaler binary
        env:
          GOOS: linux
          GOARCH: ${{ matrix.arch }}
        run: |
          make build
          # Rename binary to include architecture
          mv _output/keda-kaito-scaler _output/keda-kaito-scaler-linux-${{ matrix.arch }}
